@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$cyan: #55C4D4;

@import "~bulma/bulma";


html, body {
  min-height: 100%;
  background: #ECF0F3;
}

.is-checkradio[type=checkbox]+label, .is-checkradio[type=radio]+label {
  user-select: none;
  margin-left: 0;
}

nav.navbar {
  margin-bottom: 2rem;
  border-bottom: 3px solid $cyan;
  padding-top: 3px;
}

.menu-list a.is-active {
  background-color: transparent;
  color: $cyan;
  font-weight: 700;
}

.menu-list {
  a {
    .icon {
      color: #ccc;
      margin-right: 6px;
    }
  }
}



.tiles {
  margin: 1rem 0;

  .tile.is-ancestor {
    flex-wrap: wrap;
  }

  .tile {
    transition: background-color 200ms linear;
  }

  a.tile {
    &:hover {
      .tile.is-child {
        background-color: $white-ter;
      }
    }
  }

}

#content-body {
  @include touch {
    margin-top: 8rem;
  }
  @include desktop {
    margin-top: 5rem;
  }
}

.horizontal-items {
  flex: 1
}

.history-filters {
  background: $light;
  padding: 20px;

  .checkbox-field {
    margin-top: -4px;
  }

  .field-label {
    margin-right: 0.6rem;
  }
  .control {
    margin-right: 0.8rem;
  }
}

table.is-fullwidth {
  table-layout: fixed;
}
